@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

* {
  margin: 0px;
  font-family: "Spline Sans", serif;
}

#type {
  font-size: smaller;
}

/* div {
  border: 1px solid red;
} */

@theme inline {
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --color-color-5: var(----color-5);
  --color-color-4: var(----color-4);
  --color-color-3: var(----color-3);
  --color-color-2: var(----color-2);
  --color-color-1: var(----color-1);

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%, 35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%, 85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes aurora-border {
    0%, 100% {
      borderRadius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
    25% {
      borderRadius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
    50% {
      borderRadius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
    75% {
      borderRadius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  }

  @keyframes aurora-1 {
    0%, 100% {
      top: 0;
      right: 0;
    }
    50% {
      top: 50%;
      right: 25%;
    }
    75% {
      top: 25%;
      right: 50%;
    }
  }

  @keyframes aurora-2 {
    0%, 100% {
      top: 0;
      left: 0;
    }
    60% {
      top: 75%;
      left: 25%;
    }
    85% {
      top: 50%;
      left: 50%;
    }
  }

  @keyframes aurora-3 {
    0%, 100% {
      bottom: 0;
      left: 0;
    }
    40% {
      bottom: 50%;
      left: 25%;
    }
    65% {
      bottom: 25%;
      left: 50%;
    }
  }

  @keyframes aurora-4 {
    0%, 100% {
      bottom: 0;
      right: 0;
    }
    50% {
      bottom: 25%;
      right: 40%;
    }
    90% {
      bottom: 50%;
      right: 25%;
    }
  }
}

:root {
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

.dark {
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

